{% extends "encyclopedia/layout.html" %} 

{% block title %} 
    {{ title }} 
{% endblock %} 

{% block body %}
        <div class="container-fluid">
            <div class="row">
              <div class="col-sm-10 mb-2"><h1>{{ title |safe }}</h1></div>
              <div class="col-sm-2 my-auto text-center">
                <h3><a href="{% url 'edit' title=title %}"><span class="badge badge-light">Edit Page</span></a>
                </h3>
                </div>
              <div class="col"> {{content|safe}}</div>
  
            </div>
          </div>
{% endblock %}
